@model AdminPanel.Models.Users.UsersIndexVM
@{
    ViewData["Title"] = "Users List";
    Layout = "_Layout";
}

<!-- Users Table Start -->
<div class="container-fluid pt-4 px-4">
    <div class="bg-light text-center rounded p-4">
        <div class="d-flex align-items-center justify-content-between mb-4">
            <h6 class="mb-0">Users</h6>
        </div>
        <div class="table-responsive">
            <table class="table text-start align-middle table-bordered table-hover mb-0">
                <thead>
                    <tr class="text-dark">
                        <th scope="col">Id</th>
                        <th scope="col">Email</th>
                        <th scope="col">Password</th>
                        <th scope="col">First Name</th>
                        <th scope="col">Last Name</th>
                        <th scope="col">DOB</th>
                        <th scope="col">Gender</th>
                        <th scope="col">Action</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var user in Model.Users)
                    {
                        <tr>
                            <td>@user.Id</td>
                            <td>@user.Email</td>
                            <td>**********</td>
                            <td>@user.FirstName</td>
                            <td>@user.LastName</td>
                            <td>@user.DOB.GetValueOrDefault().Date.ToString("yyyy-MM-dd")</td>
                            <td>@user.Gender</td>
                            <td>
                                <a class="btn btn-sm btn-primary" href="/Users/UserDetails">Detail</a>
                                @if (this.Context.Session.GetInt32("StatusId") == 2)
                                {
                                    <a class="btn btn-sm btn-warning" href="/Users/UserEdit">Edit</a>
                                }
                                @if (this.Context.Session.GetInt32("StatusId") == 1)
                                {
                                    <a class="btn btn-sm btn-warning" href="/Users/UserEdit">Edit</a>
                                    <a class="btn btn-sm btn-danger" href="/Users/Delete">Delete</a>
                                }
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
<!-- Users Table Start End -->
